body{
	font-family:'微软雅黑';
	background-color: #F2F2F2;
}
ul,li{
	margin: 0px;
	padding: 0px;
}
section,aside,article,div,p,ul,li,a,input{
	box-sizing: border-box;
}
.clearfix:after{
	content: '';
	display: table;
	clear: both;
	overflow: hidden;
}
.clearfix{
	*zoom: 1;
}
.c7e{
	color: #7E7E7E;
}
.c02a{
	color: #FFC02A;
}
input.placehodler{
	color: #666666;
	font-size: 12px;
}
.container{
	width: 1200px;
	margin: auto;
}
.hd-info{
	background-color: #F8FBFF;
	font-size: 12px;
	line-height: 39px;
	border: 1px solid #F2F2F2;
}
.hd-info nav ul{
	float: right;
}
.hd-info nav li{
	float: left;
	border: 1px solid #E7EBED;
	border-right: none;
	border-top: none;
	font-size: 0px;
}
.hd-info nav a{
	display: block;
	width: 89px;
	text-align: center;
	font-size: 12px;
	color: black;
}
.hd-info nav a.active{
	background-color: #F2F2F2;
}
.hd-info-phone i{
	display: inline-block;
	vertical-align: middle;
	width: 22px;
	height: 22px;
	background: url(../images/images_03.png) no-repeat left center;
	margin-right: 5px;
	position: relative;
	top: -3px;
}
.hd-nav{
	background-color: #1A1A1A;
}
.hd-nav li{
	float: left;
	width: 10%;
}
.hd-nav a{
	display: block;
	line-height: 40px;
	text-align: center;
	color: #FFFFFF;
}
.hd-nav a.active{
	background-color: #323232;
}
.hd-nav-images img{
	width: 100%;
}
.map-local{
	background-color: #F2F2F2;
	padding: 48px 0px 46px 25px;
}
.content{
	background-color: #F2F2F2;
}
.content-main{
	padding-left: 308px;
}
.content-left{
	width: 308px;
	*width: 278px;
	margin-left: -308px;
	float: left;
	padding: 0px 20px 0px 10px;
}
.content-right{
	width: 100%;
	float: right;
}
.aside-nav a{
	display: block;
	width: 278px;
	line-height: 63px;
	text-align: center;
	background-color: #FFFFFF;
	font-size: 18px;
	color: #000000;
	border: 1px solid #EDEDED;
	border-top: none;
}
.aside-nav a.active{
	color: #FDC754;
	background-color: #F2F2F2;
	border-left: none;
	border-right: none;
}
.aside-ad{
	margin: 20px 0px;
	height: 233px;
	font-size: 0px;
}
.aside-ad img{
	width: 100%;
	height: 100%;
}
.aside-tags{
	background-color: #FFFFFF;
}
.aside-tags-hd{
	border-bottom: 1px solid #E5E5E5;
	
	padding: 0px 15px;
	font-size: 18px;
}
.hd-tag{
	width: 50%;
	text-align: center;
	float: left;
	position: relative;
}
.hd-tag a{
	color: #000000;
	line-height: 55px;
}
.hd-tag i{
	width: 90%;
	height: 2px;
	background-color: #FFC02A;
	position: absolute;
	left: 4%;
	bottom: -1px;
	display: none;
}
.aside-tags-hd{
	margin-bottom: 30px;
}
.aside-tags-hd .active i{
	display: block;
}
.aside-tags-list li{
	padding-left: 28px;
	padding-bottom: 30px;
	position: relative;
}
.aside-tags-list li a{
	font-size: 14px;
	color: #000000;
}
.aside-tags-list li p{
	font-size: 12px;
	font-family:Arial;
	line-height: 20px;
	color: #666666;
	padding-top: 5px;
}
.aside-tags-list li p .author{
	margin-left: 15px;
}
.aside-tags-list li i{
	font-family:Arial;
	width: 18px;
	height: 18px;
	position: absolute;
	left: 5px;
	top: 3px;
	text-align: center;
	line-height: 18px;
	color: #FFFFFF;
}

.sub1{
	background-color: #F87373;
}
.sub2{
	background-color: #31B1E7;
}
.sub3{
	background-color: #7676DF;
}
.sub4{
	background-color: #979797;
}
.sub5{
	background-color: #979797;
}
.aside-hot-img{
	height: 232px;
	margin-top: 20px;
}
.content-right section{
	width: 100%;
	height: 222px;
	padding: 20px;
	background-color: #FFFFFF;
	color: #000000;
	margin-bottom: 22px;
}
.content-item-img{
	display: table-cell;
	font-size: 0px;
	*float: left;
}
.content-item-info{
	display: table-cell;
	vertical-align: top;
	padding-left: 14px;
	position: relative;
	width: 10000px;
	*display: inline-block;
	*width:auto; 
	*min-height: 222px;
	*zoom:1;
}
.content-item-info h3{
	font-size: 18px;
	line-height: 24px;
	font-weight: bold;
	padding-bottom: 8px;
}
.content-item-info h3 a{
	color: #000000;
}
.content-item-info h3 a:hover{
	color: #FDC754;
}
.content-item-info p{
	font-size: 14px;
	color: #666666;
	line-height: 20px;
}
.content-item-date{
	position: absolute;
	right: 5px;
	bottom: 10px;
	font-size: 14px;
	color: #666666;
}
.content-item-date i{
	display: inline-block;
	width: 20px;
	height: 15px;
	vertical-align: middle;
	background: url(../images/images_20.png) no-repeat left center;
}
.content-item-date span{
	vertical-align: middle;
}
.content-pages{
	text-align: center;
	margin: 51px 0px;
}
.content-pages ul{
	display: inline-block;
	margin: auto;
}
.content-pages li{
	float: left;
	margin-right: 20px;
}
.content-pages a{
	color: #666666;
	display: block;
	width: 40px;
	line-height: 40px;
	background-color: #FFFFFF;
	text-align: center;
	font-size: 16px;
}
.content-pages a.changepage{
	width: 78px;
}
.content-pages a.active{
	background-color: #FFC02A;
	color: #FFFFFF;
}
.footer hr{
	border: none;
	height: 1px;
	background-color: #424242;
}
.ft-form{
	background-color: #757575;
	padding: 8px 0px;
}
.ft-form li{
	float: left;
	margin-right: 30px;
}
.ft-form li i{
	display: inline-block;
	width: 32px;
	height: 35px;
	vertical-align: middle;
}
.ft-form li span{
	font-size: 20px;
	color: #FFC02A;
	vertical-align: middle;
	margin-left: 8px;
	margin-right: 8px;
}
.ft-form li input{
	height: 30px;
	width: 220px;
	border: none;
	padding: 3px 20px;
	margin: 0px;
	border-radius: 5px;
}
.form-message li input[type="text"]{
	width: 879px;
	height: 50px;
}
.form-message li input[type="button"]{
	width: 134px;
	height: 50px;
	color: #866104;
	line-height: 50px;
	text-align: center;
	background-color: #FFC02A;
	font-size: 20px;
}
.ft-form hr{
	border: none;
	height: 1px;
	background-color: #919191;
}
.form-sub-phone{
	background: url(../images/images_40.png) no-repeat center center;
}
.form-sub-qq{
	background: url(../images/images_43.png) no-repeat center center;
}
.form-sub-name{
	background: url(../images/images_45.png) no-repeat center center;
}
.footer{
	background-color: #1A1A1A;
}
.ft-info-shop{
	padding: 40px 0px;
	color: #FFFFFF;
}
.ft-info-shop i{
	display: inline-block;
	width: 27px;
	height: 17px;
	background: url(../images/images_59.png) no-repeat center center;
	margin-right: 8px;
}
.ft-link{
	padding: 25px 0px;
}
.ft-link ul{
	width: 110px;
	float: left;
	margin: 0px 20px 0px 75px;
}
.ft-link ul.ft-link-first{
	margin-left: 0px;
}
.ft-link li{
	text-align: right;
}
.ft-link a{
	color: #A2A2A2;
	line-height: 30px;
}
.ft-link a.c02a{
	color: #FFC02A;
}

.ft-logo{
	text-align: center;
	font-size: 0px;
	padding: 24px 0px;
}
.ft-logo img{
	width: 203px;
	height: 66px;
}
.ft-company{
	padding: 16px 0px 35px 0px;
	text-align: center;
	font-size: 12px;
	color: #7B7B7B;
}
